.PaperLink {
    color: var(--paper-primary);
    text-decoration: none;
    font-weight: 600;
    transition:
        color var(--paper-short-transition),
        text-decoration var(--paper-short-transition);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: var(--paper-uigap-onefourth);
}

.PaperLink:hover {
    color: var(--paper-primary-deep);
    text-decoration: underline;
}

.externalIcon {
    font-size: var(--paper-link-font-scale);
    color: var(--paper-text-faint);
}
