[Desktop Entry]
Name=Paperboard
Comment=Run and manage tools locally
Exec=paperboard %U
Icon=paperboard
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=Paperboard
