.PaperSettingList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.PaperSettingList.autoHeight {
    height: auto;
    overflow-y: visible;
}

.PaperSettingItem:nth-child(odd) {
    background: var(--paper-background-frontest);
}

.PaperSettingItem:nth-child(even) {
    background: var(--paper-background-front);
}

.PaperSettingItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--paper-uigap);
    padding: var(--paper-uigap-sixfourths);
    border-bottom: var(--paper-border-width) solid var(--paper-medium-border);
}

.PaperSettingItem:last-child {
    border-bottom: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
