.PaperSelector {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--paper-uigap-half);
    padding: calc(var(--paper-border-width) * 2);
}

.PaperSelector.horizontal {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
}

.PaperSelector.horizontal .PaperSelectorItem {
    width: auto;
    flex: 1;
}

.PaperSelectorItem {
    width: 100%;
}

.itemInner {
    padding: var(--paper-uigap);
    border: var(--paper-border-width) solid var(--paper-border-strong);
    border-radius: var(--paper-border-radius);
    display: flex;
    align-items: center;
    gap: var(--paper-uigap-threefourths);
    cursor: pointer;
    width: 100%;
    background: var(--paper-surface-raised);
    transition: border-color var(--paper-short-transition);
}

.PaperSelectorItem.reverse .itemInner {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.PaperSelectorItem.reverse .itemText {
    align-items: flex-end;
    text-align: right;
}

.itemIcon {
    color: var(--paper-primary-deep);
    font-size: var(--paper-icon-size-huge);
}

.itemText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.itemDescription {
    color: var(--paper-text-subtle);
}

.PaperSelectorItem.selected .itemInner {
    outline: var(--paper-border-width) solid var(--paper-primary-deep);
    border: var(--paper-border-width) solid var(--paper-primary-deep);
}
